<div class="wallet-actions">
  <ul>
    <li>
      <a href="">
        <!-- <img src="../../../assets/images/icon-to.svg" alt=""> -->
        Send
      </a>
    </li>
    <li>
      <a href="">
        <!-- <img src="../../../assets/images/icon-arrow-left.svg" alt=""> -->
        Receive
      </a>
    </li>
    <li>
      <a href="">
        <!-- <img src="../../../assets/images/icon-to.svg" alt=""> -->
        Wallets
      </a>
    </li>
    <li>
      <a href="">
        <!-- <img src="../../../assets/images/icon-to.svg" alt=""> -->
        Settings
      </a>
    </li>
  </ul>
</div>