<div class="container">
  <h1 class="title">
    Preparing the Akroma Desktop Wallet.
    <ng-container *ngIf="isListening">
      <ng-container *ngIf="isSyncing">
        <div class="mb-2">
          <progressbar class="progress-striped active" [value]="currentPercentage(isSyncing.currentBlock, isSyncing.highestBlock)" type="danger">
            <i>{{ currentPercentage(isSyncing.currentBlock, isSyncing.highestBlock).toFixed(0) }}&#37;</i>
          </progressbar>
        </div>
        <h3 class="title">{{ currentPercentage(isSyncing.currentBlock, isSyncing.highestBlock).toFixed(0) }}&#37;</h3>
      </ng-container>
      <ng-container *ngIf="peerCount">
        <h3 class="title">{{ hexToInt(peerCount) }} Peers Connected.</h3>
      </ng-container>
    </ng-container>
  </h1>
</div>