<div class="container">
  <form id="settings-form" [formGroup]="systemSettingsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
            <div class="col">
                <div class="form-group">
                  <label for="data-directory-path">Data Directory Location</label>
                  <input type="file" class="form-control-file form-control" id="data-directory-path" formControlName="dataDirPath" (change)="onDirectoryPathChange($event)" webkitdirectory directory multiple>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
            <div class="col">
                <h3>Blockchain Sync Mode</h3>
                <div class="form-check">
                  <input class="form-check-input form-control" type="radio" name="syncMode" id="light-sync" formControlName="syncMode" value="light" checked>
                  <label class="form-check-label" for="light-sync">
                    Light
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-control" type="radio" name="syncMode" id="fast-sync" formControlName="syncMode" value="fast">
                  <label class="form-check-label" for="fast-sync">
                    Fast
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input form-control" type="radio" name="syncMode" id="full-sync" formControlName="syncMode" value="full">
                  <label class="form-check-label" for="full-sync">
                    Full
                  </label>
                </div>
                <button type="submit" [disabled]="systemSettingsForm.pristine" class="btn btn-success">Save</button> &nbsp;
                <button type="button" (click)="systemSettingsForm.reset()" [disabled]="systemSettingsForm.pristine" class="btn btn-danger">Revert</button>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>
