<div class="transaction-list">
  <div class="filters">
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Sent</a></li>
      <li><a href="">Received</a></li>
    </ul>
  </div>
  
  <div *ngFor="let transaction of transactions">
    <div class="transaction">
      <div class="value">
        {{ transaction.value }} <span class="unit-badge">AKA</span>
      </div>
      <div class="timestamp">
        {{ this.timestamp }}
      </div>
    </div>
    <div *ngIf="false" class="address">
      <div class="to">To</div>
      <div class="toAddress">{{ transaction.to }}</div>
    </div>
    <div *ngIf="true" class="address">
      <div class="from">From</div>
      <div class="fromAddress">{{ transaction.from }}</div>
    </div>
  </div>
    
</div>