.container {
    height: 100%;
  
    background: url(../../../assets/images/akroma-background.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}